---
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro';
import OurPrograms from '../components/OurPrograms.astro';
import ProgramStats from '../components/ProgramStats.astro';
import Methodology from '../components/Methodology.astro';
import OurStories from '../components/OurStories.astro';
import WhoWeAre from '../components/WhoWeAre.astro';
import KuepaAttitude from '../components/KuepaAttitude.astro';
import Headquarters from '../components/Headquarters.astro';
import Blogs from '../components/Blogs.astro';
import Footer from '../components/Footer.astro';
import '../styles/styles.scss'
---

<Layout title="Welcome to Astro.">
    <main>
        <Welcome />
        <OurPrograms />
        <ProgramStats />
        <Methodology />
        <OurStories />
        <WhoWeAre />
        <KuepaAttitude />
        <Headquarters />
        <Blogs />
        <Footer />
    </main>
</Layout>

<style>
    body {
        background-color: #101112;
        a {
            text-decoration: none;
            color: inherit;
        }
    }
/* 
    @keyframes fadeFromBottom {
        from {
            opacity: 0;
            transform: translateY(100%);
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes expand {
        from {
            width: 0%;
            opacity: 0;
        }

        to {
            opacity: 1;
            width: 100%;
        }
    }

    @keyframes fadeToColorKuepa {
        from {
            color: white;
        }

        to {
            color: #fd531e;
        }
    }

    @keyframes fadeToColorWhite {
        from {
            color: #fd531e;
        }

        to {
            color: white;
        }
    }

    @keyframes scroll {
        0% {
            opacity: 1;
            transform: translate(100%);
        }

        100% {
            opacity: 1;
            transform: translate(-100%);
        }
    }

    @keyframes scroll_up_1 {
        0% {
            transform: translateY(5%);
        }

        75% {
            transform: translateY(-92%);
        }

        100% {
            transform: translateY(-86%);
        }
    }

    @keyframes scroll_up_2 {
        0% {
            transform: translateY(5%);
        }

        75% {
            transform: translateY(-98%);
        }

        100% {
            transform: translateY(-91%);
        }
    }

    @keyframes scroll_up_3 {
        0% {
            transform: translateY(5%);
        }

        75% {
            transform: translateY(-96%);
        }

        100% {
            transform: translateY(-89%);
        }
    } */
</style>
