---
---

<div class={`mobile_blogs_container`}>
    <div class={`title`}>Blog Kueparlantes</div>
    <div class={`subtitle`}>
        Mantente informado con nuestras noticias, comunicados, datos curiosos, cultura general e información
        <div>de tu interés.</div>
    </div>
    <div id={`blogs_cards_container`} class={`cards_container`}></div>
    <div class={`blogs_carrousel_navigation`}>
        <div id={`blogs_navigation_0`} class={`blogs_navigation`}></div>
        <div id={`blogs_navigation_1`} class={`blogs_navigation`}></div>
        <div id={`blogs_navigation_2`} class={`blogs_navigation`}></div>
    </div>
</div>
<!-- 
<script>
    let blogs_cards_container = document.getElementById('blogs_cards_container');
    /*
       <div class={`custom_card`}>
                    <div class={`background_image`}>
                        <img src={blog?.image_post} alt="" width="311px" height="160px" />
                    </div>
                    <div class={`top_text`}>{blog?.title}</div>
                    <div class={`middle_text`}>{blog?.description}</div>
                    <div class={`bottom_text`}>
                        <a href={blog?.redirect_url} target="_blank" rel="noreferrer">
                            Seguir leyendo
                        </a>
                    </div>
                </div>
    */
</script> -->
