---
import calle72Mobile from '../../public/calle72Mobile.png'
import calle85Mobile from '../../public/calle85Mobile.png'
---

<div class={`mobile_headquarters_container`}>
    <div class={`title`}>Nuestras sedes</div>
    <div class={`cards_container`}>
        <div id={`left_card`} class={`custom_card normal`}>
            <img class={`background`} src={calle72Mobile.src} alt="" width="535px" height="320px" />
            <div class={`name`}>Sede calle 72</div>
            <div class={`direction`}>Calle 72 #13-34, Bogotá - Colombia</div>
        </div>
        <div id={`right_card`} class={`custom_card normal`}>
            <img class={`background`} src={calle85Mobile.src} alt="" width="535px" height="320px" />
            <div class={`name`}>Sede Calle 85</div>
            <div class={`direction`}>Ac. 85 #19b-02, Bogotá - Colombia</div>
        </div>
    </div>
</div>
