---
import Animator from '../animator/animator';
import estudiantesMobile from '../../public/estudiantesMobile.png';
---

<div class={`mobile_welcome_container`}>
    <div class={`animator_container`}>
        <Animator client:load animation=`{"frames":{"frame_0":{"0_296478_frame_element":{"left":"54px","top":"-61px","height":"269px","width":"269px","borderRadius":"100%","transition":"all 3.3s ease-out","WebkitTransitionDuration":"all 3.3s ease-out","MozTransitionDuration":"all 3.3s ease-out","msTransitionDuration":"all 3.3s ease-out","backgroundColor":"var(--primary)","filter":"blur(100px)"},"1_027877_frame_element":{"left":"158px","top":"147px","height":"222px","width":"222px","borderRadius":"100%","transition":"all 3.3s ease-out","WebkitTransitionDuration":"all 3.3s ease-out","MozTransitionDuration":"all 3.3s ease-out","msTransitionDuration":"all 3.3s ease-out","backgroundColor":"#FF8A00","filter":"blur(100px)"}},"frame_1":{"0_296478_frame_element":{"left":"-56px","top":"147px","height":"269px","width":"269px","borderRadius":"100%","transition":"all 3.3s ease-out","WebkitTransitionDuration":"all 3.3s ease-out","MozTransitionDuration":"all 3.3s ease-out","msTransitionDuration":"all 3.3s ease-out","backgroundColor":"var(--primary)","filter":"blur(100px)"},"1_027877_frame_element":{"left":"146px","top":"12px","height":"222px","width":"222px","borderRadius":"100%","transition":"all 3.3s ease-out","WebkitTransitionDuration":"all 3.3s ease-out","MozTransitionDuration":"all 3.3s ease-out","msTransitionDuration":"all 3.3s ease-out","backgroundColor":"#FF8A00","filter":"blur(100px)"}},"frame_2":{"0_296478_frame_element":{"left":"167px","top":"116px","height":"216px","width":"216px","borderRadius":"100%","transition":"all 3.3s ease-out","WebkitTransitionDuration":"all 3.3s ease-out","MozTransitionDuration":"all 3.3s ease-out","msTransitionDuration":"all 3.3s ease-out","backgroundColor":"var(--primary)","filter":"blur(100px)"},"1_027877_frame_element":{"left":"12px","top":"-40px","height":"222px","width":"222px","borderRadius":"100%","transition":"all 3.3s ease-out","WebkitTransitionDuration":"all 3.3s ease-out","MozTransitionDuration":"all 3.3s ease-out","msTransitionDuration":"all 3.3s ease-out","backgroundColor":"#FF8A00","filter":"blur(100px)"}},"frame_3":{"0_296478_frame_element":{"left":"95px","top":"-17px","height":"170px","width":"170px","borderRadius":"100%","transition":"all 3.3s ease-out","WebkitTransitionDuration":"all 3.3s ease-out","MozTransitionDuration":"all 3.3s ease-out","msTransitionDuration":"all 3.3s ease-out","backgroundColor":"var(--primary)","filter":"blur(100px)"},"1_027877_frame_element":{"left":"42px","top":"269px","height":"197px","width":"197px","borderRadius":"100%","transition":"all 3.3s ease-out","WebkitTransitionDuration":"all 3.3s ease-out","MozTransitionDuration":"all 3.3s ease-out","msTransitionDuration":"all 3.3s ease-out","backgroundColor":"#FF8A00","filter":"blur(100px)"}}},"time":"3300","canvasHeight":"740px","canvasWidth":"360px","currentFrame":"frame_0"}` />
    </div>
    <div class={`initial_container`}>
        <div class={`text_container`}>
            <div class={`top_text`}>
                En <span class={`special_text`}>Kuepa</span> inicias tu camino profesional.
            </div>
            <div class={`bottom_text`}>Nuestros programas te preparan para encontrar el empleo de tus sueños.</div>
        </div>
        <div class={`container_ fade_from_bottom`}>
            <div class={`image_container`}>
                <img src={estudiantesMobile.src} alt="" />
            </div>
            <div class={`register_container`}>
                <div class={`form_title`}>¡Regístrate ahora o llámanos al 601 917 7888!</div>
                <div class={`top_container`}>
                    <div class={`custom_input_container`}>
                        <div class={`custom_label`}>Nombre</div>
                        <div class={`custom_input`}>
                            <input type={`text`} name={`name`} placeholder="Ej: Nombres y apellidos" />
                        </div>
                    </div>
                    <div class={`custom_input_container`}>
                        <div class={`custom_label`}>Correo</div>
                        <div class={`custom_input`}>
                            <input type={`text`} name={`mail`} placeholder="tunombre@correoelectrónico.com" />
                        </div>
                    </div>
                    <div class={`custom_input_container`}>
                        <div class={`custom_label`}>Telefono</div>
                        <div class={`custom_input`}>
                            <input type={`text`} name={`phone`} placeholder="Ej: 316 789 9876" />
                        </div>
                    </div>
                </div>
                <div class={`bottom_container`}>
                    <div class={`custom_input_container`}>
                        <div class={`custom_label`}>Programa</div>
                        <div class={`custom_input`}>
                            <select aria-label="select-program" name={`program`}>
                                <option label="Seleccionar programa" selected disabled value="" style={{color: '#333639'}}
                                    >Seleccionar programa</option
                                >
                                <option label="Bachillerato Virtual" value='{"id_panel": "43", "id_crm":"bachillerato-plus-online"}'
                                    >Bachillerato Virtual</option
                                >
                                <option label="Bachillerato Presencial" value='{"id_panel": "43", "id_crm":"bachillerato-plus-onsite"}'
                                    >Bachillerato Presencial</option
                                >
                                <option label="Inglés" value='{"id_panel": "19", "id_crm":"ingles-intensivo" }'>Inglés</option>
                                <option label="PreIcfes" value='{"id_panel": "3", "id_crm": "preicfes" }'>PreIcfes</option>
                                <option label="Técnicos Laborales" value='{"id_panel": "44", "id_crm":"6279265fdb9de50f6405ad9d" }'
                                    >Técnicos Laborales</option
                                >
                            </select>
                        </div>
                    </div>
                    <div class={`register_button`}>Regístrate ahora</div>
                </div>
                <div class={`terms_text`}>
                    *Al hacer click, acepto los <span><a href="/legal-page">términos y condiciones</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
