---
import ketKuepaEduTechLogoV2 from '../../public/ketKuepaEduTechLogoV2.png';
import '../styles/styles.scss'
---

<div class={`mobile_who_we_are_container `}>
    <div class={`container fade_from_bottom`}>
        <div class={`logo`}>
            <img src={ketKuepaEduTechLogoV2.src} alt="" width="312px" height="53px" />
        </div>
        <div class={`top_text`}>¿Quiénes somos?</div>
        <div class={`bottom_text`}>
            <span class={'heavy'}>Kuepa</span> es una institución educativa, parte de <span class={'heavy'}>Kuepa Edutech</span>, una <span
                class={'heavy'}>EdTech</span
            > colombiana entre las más influyentes de la región, prueba de ello es la selección hecha por la revista <span class={'special'}
                >Time</span
            > como una de las <span class={'heavy'}>250 EdTech más importantes en el mundo en 2.023 en la posición 68</span>. Además, la única
            colombiana en el listado.
            <div>Si quieres saber más</div>
        </div>
        <div class={`custom_button`}>
            <div class={`inner_text`}>Visita Kuepa Edutech</div>
        </div>
    </div>
</div>
